@use "variables" as v;

body {
  font-family: v.$font-body;
  color: v.$color-text;
  background-color: v.$color-bg;
}

h1, h2, h3, h4, h5, h6 {
  font-family: v.$font-display;
}

a {
  text-decoration: none;
  color: v.$color-text;
  transition: color 0.4s ease-in-out;
  font-weight: 700;
}

ul {
  padding: 10px 0 20px;
  list-style-type: none;
}


* {
  box-sizing: border-box;
}

.content {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  padding: v.$spacing-lg;
}

input {
  font: inherit;
}